  .table-container {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .table-container table {
    margin: 0 auto;
  }
  
  .table-container .working {
    vertical-align: middle;
  }
  
  .table-container .badg {
    justify-content: center;
    align-items: center;
  }
  
  .table-container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  